<a class="btn-flat" style="padding-left: 0" (click)="goBack()"><i class="material-icons left">keyboard_arrow_left</i>Back</a>

<app-customer-edit [customer]="customer"></app-customer-edit>

<div class="card">
  <div class="card-content">
    <p class="card-title"></p>

    <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm.form)">
      <div class="row">
        <div class="col s6">
          <label>First name</label>
          <input name="firstName" [ngModel]="customer.firstName" #firstNameControl="ngModel" required/>
          <div class="error" *ngIf="firstNameControl.invalid && (firstNameControl.dirty || firstNameControl.touched)">
            <label *ngIf="firstNameControl.errors.required">First name required</label>
          </div>
        </div>

        <div class="col s6">
          <label>Last name</label>
          <input name="lastName" [ngModel]="customer.lastName" #lastNameControl="ngModel" required/>

          <div class="error" *ngIf="lastNameControl.invalid && (lastNameControl.dirty || lastNameControl.touched)">
            <label *ngIf="lastNameControl.errors.required">Last name required</label>
          </div>
        </div>

        <div class="col s6">
          <label>Email</label>
          <input type="email" name="email" [ngModel]="customer.email" #emailControl="ngModel" required email/>

          <div class="error" *ngIf="emailControl.invalid && (emailControl.dirty || emailControl.touched)">
            <label *ngIf="emailControl.errors.required">Email required</label>
            <label *ngIf="emailControl.errors.email">Email not valid</label>
          </div>
        </div>

        <div class="col s6">
          <label>Phone</label>
          <input name="phone" [ngModel]="customer.phone"/>
        </div>
      </div>

      <h6>Address</h6>

      <ng-container ngModelGroup="address">
        <div class="row">
          <div class="col s6">
            <label>Street</label>
            <input name="street" [ngModel]="customer.address.street"/>
          </div>
          <div class="col s6">
            <label>City</label>
            <input name="city" [ngModel]="customer.address.city"/>
          </div>
          <div class="col s6">
            <label>Zip Code</label>
            <input name="zipCode" [ngModel]="customer.address.zipCode"/>
          </div>
          <div class="col s6">
            <label>Country</label>
            <input name="country" [ngModel]="customer.address.country"/>
          </div>
        </div>
      </ng-container>

      <div class="right-align">
        <button class="btn" type="submit" [disabled]="customerForm.invalid">Save</button>
      </div>
    </form>

    <div class="row">
      <div class="col s6">
        <p>Initial value</p>
        <code>
          <pre>{{customer | json}}</pre>
        </code>
      </div>
      <div class="col s6">
        <p>Form value</p>
        <code>
          <pre>{{customerForm.form.value | json}}</pre>
        </code>
      </div>
    </div>
  </div>
</div>
