@import "~bootstrap/dist/css/bootstrap-utilities.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";

.tabs {
    border-bottom: 1px solid #e0e0e0;
}

.tabs .tab:hover {
    cursor: pointer;
}

.tabs .tab .active {
    border-bottom: 4px solid;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


table {
    width: 100%;
}
