<div class="container">
  <form class="new-order" [formGroup]="orderForm">

    <ng-container formGroupName="customer">
      <label>Name</label>
      <input type="text" class="form-control"
             formControlName="name"
             name="name">
      <label>Email</label>
      <input type="email" placeholder="jimmyDean@example.org" class="form-control"
             formControlName="email"
             name="email">
      <label>Phone</label>
      <input type="tel" placeholder="0740561805" class="form-control"
             formControlName="phone"
             name="phone">
      <label>Address</label>
      <input type="text" placeholder="Filaret Barbu, nr. 19, Timisoara" class="form-control"
             formControlName="address"
             name="address">
    </ng-container>

    <pizza-selection [pizzaOrderOptions]="pizzasOrders" formControlName="pizzaOrders"></pizza-selection>
    <p>price error: {{orderForm.get('pizzaOrders')?.errors| json}}</p>

    <div>
      Is valid: {{orderForm.valid}}
    </div>
    <div>
      <p>Form value</p>
      {{orderForm.value | json}}
    </div>

    <div class="right-align">
      <button type="submit" class="btn" [disabled]="!orderForm.valid">Submit order</button>
    </div>
  </form>

</div>
